@charset "UTF-8";
.bigbody {
  width: 100%;
  background-color: #121213;
}
.bigbody > .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url(../img/home_slider_one.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  align-items: flex-start;
  align-content: start;
}
.bigbody > .container > .bkg {
  width: 95%;
  height: 10%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}
.bigbody > .container > .bkg > .menu {
  display: flex;
  width: 67%;
  height: 100%;
  align-items: center;
}
.bigbody > .container > .bkg > .menu > nav {
  padding: 0px 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.bigbody > .container > .bkg > .menu > nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.bigbody > .container > .bkg > .menu > nav > ul > li {
  height: 100%;
  display: flex;
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-last-of-type(4) {
  position: relative;
  display: flex;
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-last-of-type(4):hover > ul {
  visibility: visible;
  opacity: 1;
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-last-of-type(4) > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -30%;
  display: flex;
  flex-wrap: wrap;
  width: 200%;
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-last-of-type(4) > ul > li {
  width: 100%;
  display: flex;
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-last-of-type(4) > ul > li > a {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.671);
  padding: 20px 30px;
  font-size: 15px;
  color: black;
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-last-of-type(4) > ul > li > a:hover {
  background-color: white;
  color: rgba(4, 4, 134, 0.795);
}
.bigbody > .container > .bkg > .menu > nav > ul > li:nth-of-type(4)::after {
  content: "˅";
  font-size: 18px;
  color: white;
  bottom: 33%;
  left: 105%;
  font-weight: 800;
  position: absolute;
}
.bigbody > .container > .bkg > .menu > nav > ul > li > a {
  font-size: 15px;
  height: 100%;
  align-items: center;
  font-weight: 800;
  display: flex;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.921);
}
.bigbody > .container > .bkg > .icon {
  width: 15%;
  display: flex;
  border-right: 2px solid white;
  height: 100%;
  align-items: center;
}
.bigbody > .container > .bkg > .icon > figure {
  width: 100%;
  display: flex;
  cursor: pointer;
}
.bigbody > .container > .bkg > .icon > figure > img {
  width: 85%;
}
.bigbody > .container > .bkg > .social {
  display: flex;
  width: 18%;
  height: 100%;
  align-items: center;
  border-left: 2px solid white;
  justify-content: center;
}
.bigbody > .container > .bkg > .social i {
  display: flex;
  padding: 0px 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.83);
  position: relative;
  cursor: pointer;
}
.bigbody > .container > .bkg > .social i:hover > span {
  opacity: 1;
  visibility: visible;
}
.bigbody > .container > .bkg > .social i > span {
  opacity: 0;
  visibility: hidden;
  background-color: #363636;
  padding: 2px 10px;
  font-size: 12px;
  position: absolute;
  bottom: 150%;
  left: -30%;
  border-radius: 1px;
}
.bigbody > .container > .bkg > .social i > span::after {
  content: "▼";
  position: absolute;
  bottom: -50%;
  left: 40%;
  color: #363636;
  z-index: 1;
}
.bigbody > .container > .hp {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-content: center;
}
.bigbody > .container > .hp > * {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
}
.bigbody > .container > .hp > h1 {
  display: flex;
  color: white;
  font-size: 120px;
}
.bigbody > .container > .hp > p {
  width: 50%;
  background-color: rgba(82, 135, 141, 0.7882352941);
  color: white;
  font-size: 40px;
  font-weight: 600;
}
.bigbody > .container > .hp > div {
  display: flex;
  margin-top: 60px;
  width: 60%;
}
.bigbody > .container > .hp > div > a {
  padding: 8px 20px;
  border: 2px solid white;
  margin: 0px 20px;
}
.bigbody > .heading {
  margin: 70px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bigbody > .heading > * {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bigbody > .heading > h1 {
  font-size: 48px;
  color: white;
}
.bigbody > .heading > figure {
  width: 100%;
  display: flex;
}
.bigbody > .heading > figure > img {
  width: 4%;
  display: flex;
}
.bigbody > .heading > p {
  width: 80%;
  font-size: 14px;
  color: white;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
  line-height: 35px;
}
.bigbody > .imgpar {
  display: flex;
  width: 100%;
}
.bigbody > .imgpar > .par {
  flex-wrap: wrap;
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.bigbody > .imgpar > .par > * {
  padding: 15px 0px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigbody > .imgpar > .par > h2 {
  font-size: 48px;
  font-weight: 900;
}
.bigbody > .imgpar > .par > span {
  font-size: 17px;
  font-weight: 100;
}
.bigbody > .imgpar > .par > p {
  width: 80%;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
}
.bigbody > .imgpar > .par > a {
  border: 3px solid white;
  width: 40%;
  margin-top: 30px;
  word-spacing: 5px;
  font-weight: bold;
}
.bigbody > .imgpar > .imgp {
  width: 50%;
  display: flex;
}
.bigbody > .imgpar > .imgp > figure {
  width: 100%;
  display: flex;
}
.bigbody > .imgpar > .imgp > figure > img {
  width: 100%;
  height: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}
.bigbody > .imback {
  display: flex;
  width: 100%;
  height: 90vh;
  background-image: url(../img/quote_bg_studio1.jpg);
  background-repeat: no-repeat;
  background-size: 180% 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.bigbody > .imback > .aplus {
  width: 100%;
  height: 40vh;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-evenly;
}
.bigbody > .imback > .aplus > * {
  display: flex;
  flex-wrap: nowrap;
}
.bigbody > .imback > .aplus > p {
  border: 10px solid white;
  align-items: center;
  font-size: 35px;
  font-weight: 900;
  padding: 55px;
  width: 60%;
  height: 100%;
  justify-content: center;
}
.bigbody > .imback > .aplus > .hreff {
  width: 30%;
  height: 100%;
  background-color: #489095;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.bigbody > .imback > .aplus > .hreff > a {
  display: flex;
  padding: 15px 30px;
  font-weight: 800;
  border: 2px solid white;
  justify-content: center;
}
.bigbody > .caption {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bigbody > .caption > .fig {
  width: 22%;
  display: flex;
}
.bigbody > .caption > .fig > figure {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bigbody > .caption > .fig > figure > figcaption {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bigbody > .caption > .fig > figure > figcaption * {
  width: 100%;
}
.bigbody > .caption > .fig > figure > figcaption > h2 {
  width: 50%;
  display: flex;
  text-align: center;
  font-weight: 900;
  font-size: 35px;
}
.bigbody > .caption > .fig > figure > figcaption > span {
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 7px;
}
.bigbody > .caption > .fig > figure > img {
  width: 85%;
}
.bigbody > .aghrab {
  margin-top: 150px;
}
.bigbody > .aghrab > .spider {
  padding: 45px 0px;
  background-color: #4CA9B4;
}
.bigbody > .aghrab > .spider > a {
  width: 30%;
  font-size: 20px;
}
.bigbody > .aghrab > .spider2 {
  order: -1;
}
.bigbody > .gridd {
  display: grid;
  width: 100%;
  height: 120vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.bigbody > .gridd > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bigbody > .gridd > div > figure {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.bigbody > .gridd > div > figure:hover > figcaption > i {
  transform: rotateX(0deg);
}
.bigbody > .gridd > div > figure > figcaption {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bigbody > .gridd > div > figure > figcaption > i {
  transform: rotateX(90deg);
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 42%;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 15%;
  display: flex;
  font-size: 20px;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0.7176470588);
}
.bigbody > .gridd > div > figure > figcaption > i:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.bigbody > .gridd > div > figure > figcaption > i:nth-of-type(1) {
  left: 30%;
}
.bigbody > .gridd > div > figure:hover::after {
  transform: rotateX(0deg);
}
.bigbody > .gridd > div > figure::after {
  position: absolute;
  content: "";
  opacity: 0.7;
  transform: rotateX(90deg);
  width: 100%;
  height: 100%;
  background-color: #56A6AC;
}
.bigbody > .gridd > div > figure > img {
  display: flex;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bigbody > .gridd > div:nth-of-type(1) {
  grid-row: 1/span 2;
}
.bigbody > .imagbar {
  display: flex;
  width: 100%;
  justify-content: center;
}
.bigbody > .imagbar > figure {
  width: 80%;
  display: flex;
}
.bigbody > .imagbar > figure > img {
  display: flex;
  width: 100%;
}
.bigbody > .contentbar {
  display: flex;
  width: 100%;
  height: 110vh;
  margin-top: 150px;
}
.bigbody > .contentbar > div {
  width: 50%;
}
.bigbody > .contentbar > .content1 {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.bigbody > .contentbar > .content1 > .mohtava {
  margin: 10px;
  height: 27vh;
  display: flex;
  width: 100%;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  align-content: center;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > div {
  display: flex;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > div > a {
  margin-left: 10px;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > div > a:hover {
  color: #4CA990;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > * {
  width: 100%;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > a {
  font-size: 32px;
  font-weight: 900;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > a:hover {
  color: #4CA990;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .mohtavabar > p {
  padding-top: 25px;
  width: 80%;
  display: flex;
  font-size: 17px;
  font-weight: 200;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .figurebar {
  justify-content: end;
  display: flex;
  padding-right: 15px;
  width: 30%;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .figurebar > figure {
  display: flex;
  width: 90%;
  height: 90%;
}
.bigbody > .contentbar > .content1 > .mohtava > .kolesh > .figurebar > figure > img {
  display: flex;
  width: 100%;
}
.bigbody > .contentbar > .content1 > .mozo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.bigbody > .contentbar > .content1 > .mozo * {
  justify-content: center;
  width: 100%;
  display: flex;
}
.bigbody > .contentbar > .content1 > .mozo > h2 {
  width: 100%;
  font-size: 55px;
  padding: 20px 0px;
}
.bigbody > .contentbar > .content1 > .mozo > p {
  padding-bottom: 50px;
  font-weight: 100;
  font-size: 20px;
  word-spacing: 5px;
  letter-spacing: 7px;
}
.bigbody > .contentbar > .contant2 {
  width: 100%;
  display: flex;
  background-image: url(../img/testimonials_bg1.jpg);
  justify-content: center;
}
.bigbody > .contentbar > .contant2 > .mozo {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.bigbody > .contentbar > .contant2 > .mozo > span {
  font-size: 24px;
  width: auto;
}
.bigbody > .contentbar > .contant2 > .mozo > a {
  margin-left: 14px;
  font-size: 24px;
  width: auto;
}
.bigbody > .contentbar > .contant2 > .mozo > a:hover {
  color: #489095;
}
.bigbody > .contentbar > .contant2 > .mozo > div {
  display: flex;
  width: 100%;
}
.bigbody > .contentbar > .contant2 > .mozo > div > p {
  width: 70%;
  display: flex;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 35px;
}
.bigbody > .contentbar > .contant2 > .mozo > figure {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}
.bigbody > .contentbar > .contant2 > .mozo > figure > img {
  display: flex;
  width: 25%;
  border-radius: 50%;
}
.bigbody > .contentbar > .contant2 > .mozo * {
  display: flex;
  justify-content: center;
  width: 100%;
}
.bigbody > .contentbar > .contant2 > .mozo > p {
  width: 100%;
  margin-bottom: 25px;
  letter-spacing: 7px;
  word-spacing: 4px;
}
.bigbody > .contentbar > .contant2 > .mozo > h2 {
  font-size: 70px;
}
.bigbody > .imageback {
  width: 100%;
  display: flex;
  height: 55vh;
  background-image: url(../img/get_in_touch_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10% 70%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.bigbody > .imageback > * {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0px;
}
.bigbody > .imageback > h2 {
  font-size: 45px;
}
.bigbody > .imageback > p {
  font-size: 14px;
  letter-spacing: 4px;
  word-spacing: 4px;
  color: rgba(255, 255, 255, 0.85);
  padding-bottom: 35px;
}
.bigbody > .imageback > a {
  font-size: 18px;
  width: 15%;
  border: 2px solid white;
}
.bigbody > footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 20vh;
  align-content: center;
  align-items: center;
}
.bigbody > footer * {
  align-content: center;
  display: flex;
  justify-content: start;
  width: 100%;
  display: flex;
}
.bigbody > footer > p {
  padding-left: 100px;
  width: 75%;
  font-size: 35px;
}
.bigbody > footer > div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.bigbody > footer > div * {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.bigbody > footer > div > i {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.83);
  position: relative;
  border-radius: 5px;
  height: 40%;
  margin: 0px 5px;
  cursor: pointer;
}
.bigbody > footer > div > i:hover {
  background-color: #000000;
}
.bigbody > footer > div > i:hover > span {
  opacity: 1;
  visibility: visible;
}
.bigbody > footer > div > i > span {
  opacity: 0;
  visibility: hidden;
  background-color: #363636;
  padding: 2px 10px;
  font-size: 12px;
  z-index: 5;
  position: absolute;
  bottom: 120%;
  left: 0%;
  border-radius: 1px;
}
.bigbody > footer > div > i > span::after {
  content: "▼";
  position: absolute;
  bottom: -50%;
  left: 40%;
  color: #363636;
  z-index: 1;
}/*# sourceMappingURL=master.css.map */